---
import MainLayout from "../layouts/MainLayout.astro";

const res = await fetch("https://jsonplaceholder.typicode.com/posts?_limit=5");
const data = await res.json();
---

<MainLayout title="My Blog", description="Astro Project">
	<p>Hi from about!</p>
</MainLayout>
