---
import MainLayout from "../layouts/MainLayout.astro";

const isRed = false;
---

<MainLayout title="My Blog", description="Astro Project">
	<p class:list={[{red: isRed}]}>Hi from home!</p>
</MainLayout>

<style>
	p {
		font-size: 4rem;
	}

	.red{
		color: red;
	}
</style>
