---
import MainLayout from "../layouts/MainLayout.astro";

const isRed = true;
---

<MainLayout title="My Blog", description="Hi from Home">
	<p class:list={[{red: isRed}]}>Hi from Astro!</p>
</MainLayout>

<style>
	p {
		font-size: 4rem;
	}

	.red{
		color: red;
	}
</style>
